<!DOCTYPE html>
<html ng-app="myApp">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.3/angular.js"></script> 
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <script src="http://canvasjs.com/assets/script/canvasjs.min.js"></script>
  <link rel="stylesheet" type="text/css" href="style.css">
  <script type="text/javascript" src="app.js"></script>
</head>
    <style>
      .table-content{width: 100%; height: 450px;overflow: scroll; margin-top: 30px;}

    </style>
  <body>
    <div ng-controller="MainCtrl">
      <nav class="navbar navbar-inverse">
        <h3 class="head">Kogentix</h3>
      </nav>
      <section>
        <div class="col-md-12">
          <div class="col-md-3">
            <label>Market</label><br>
            <select class="form-control"  ng-model="searchlist.Market">
                <option  ng-repeat="m in market" value="{{m.name}}">{{m.name}}</option>
              </select>
          </div>
          <div class="col-md-3">
            <label>Confidence Level</label><br>
            <select class="form-control" ng-model="searchlist.Confidence_Level">
                <option  ng-repeat="c in level" value="{{c.level}}">{{c.level}}</option>
              </select>
          </div>
          <div class="col-md-6">
            <label>Product</label><br>
            <input type="text" class="form-control" placeholder="search" ng-model="search">
          </div>
        </div>
        <br>
        <div class="col-md-12 table-content"">
          <table border="1" class="table table-bordered" >
              <tr>
                <th>RowNumber</th>
                <th>Market</th>
                <th>Antecedent_Products</th>
                <th>Consequent_Product</th>
                <th>Confidence_Value</th>
                <th>Confidence_Level</th>
                <th>Lift</th>
                <th>Antecedent_Support</th>
              </tr>
              <tr ng-repeat="x in myData | filter: searchlist | filter : search">
                <td>{{x.RowNumber}}</td>
                <td>{{x.Market}}</td>
                <td>{{x.Antecedent_Products}}</td>
                <td>{{x.Consequent_Product}}</td>
                <td>{{x.Confidence_Value}}</td>
                <td>{{x.Confidence_Level}}</td>
                <td>{{x.Lift}}</td>
                <td>{{x.Antecedent_Support}}</td>
              </tr>
          </table>
        </div>
        <div class="col-md-12">
          <!-- <ul class="chart" style="width:{{width}}px; height:{{height}}px;">
            
            <div class="y" style="width:{{height}}px;">{{yAxis}}</div>
            <div class="x">{{xAxis}}</div>
          
            <li ng-repeat="bar in data" class="bar" 
                style="height:{{bar.value / num * height}}px; width:{{width / data.length - 10}}px; left:{{$index / data.length * width}}px;">
               <span class="bar-text">{{bar.label}}:{{bar.value}}</span>
            </li>
          </ul> -->

          <div id="chartContainer" style="height: 300px; width: 100%;"></div>
          
        </div>
      </section>
      
    </div>
  </body>

</html>
