body{
	font-size:12px;
}
.navbar-inverse {
    background-color: rgb(19, 89, 95);
    border-color: #13595f;
    border-radius: 0;
}
h3.head {
    color: white;
    line-height: 3;
    margin: 0;
    padding-left: 15px;
}

/**********************************************/
