body{
	font-size:12px;
}
.navbar-inverse {
    background-color: rgb(19, 89, 95);
    border-color: #13595f;
    border-radius: 0;
}
h3.head {
    color: white;
    line-height: 3;
    margin: 0;
    padding-left: 15px;
}


/***********************************************/
.grid {
  width: 100%;
  margin: 30px 0px;
  height: 420px!important;
}
.ui-grid-column-menu-button .ui-grid-icon-angle-down{
	display:none;
}
.ui-grid-viewport {
    width: 100%!important;
    overflow:auto!important;
    height: 392px!important;
}
/**********************************************/


.chart {
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  margin: 60px auto;
  position: relative;
}

.y {
  position: absolute;
  transform: rotate(-90deg);
  transform-origin: bottom left;
  bottom: 0;
  padding: 10px;
  left: 0px;
  font-size: 18px;
  font-weight: bold;
  bottom: 35px;
}

.x {
  position: absolute;
  top: 100%;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  font-weight: bold;
}

.bar {
  list-style-type: none;
  background: #06fdd2;
  position: absolute;
  bottom: 0;
}

.bar-text{
	position: absolute;
    bottom: -10px;
    left: 50%;
    transform: rotate(-90deg) translateY(-50%);
    transform-origin: left top;
    transition: 0.3s;
    white-space: nowrap;
}